

.ml_1{
  margin-left: .25em;
}
.ml_2{
  margin-left: .5em;
}
.ml_3{
  margin-left: 1em;
}

.mr_1{
  margin-right: .25em;
}

.mr_2{
  margin-right: .5em;
}

.mr_3{
  margin-right: 1em;
}

.pa_1 {
  padding: .25em !important;
}

.pa_2 {
  padding: .5em !important;
}

.pa_3 {
  padding: 1em !important;
}